extends ./layuot/index

block contenido
    main.container.mt-5 
            .row
                .col-md-5
                    img(src="img/nosotros.jpg", alt="imagen sobre nosotros" class="img-fluid")
                .col-md-7
                    h1 #{pagina}
                    blockquote Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

                    p Etiam ligula arcu, laoreet ac elit quis, dapibus suscipit orci. Suspendisse magna velit, fringilla nec ornare non, hendrerit sit amet elit. Vestibulum fringilla volutpat ligula vel aliquet. Curabitur velit nisl, rutrum quis mollis elementum, accumsan ac ligula. Nulla finibus lorem ex, a eleifend nunc efficitur volutpat. 

                    p Sed nulla nibh, tempor ut tincidunt id, tempor ut felis. Ut at sapien nulla. Mauris non finibus nunc, et congue sem. Nullam in massa a orci lacinia bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec vehicula placerat velit, sed suscipit neque consequat eu. Nunc in mattis velit, eu tempus neque. Etiam eget risus eu diam ullamcorper mattis ut sit amet sem. Donec vitae egestas tortor, in sollicitudin dolor. Vivamus ornare mi et lectus suscipit finibus. Etiam sit amet consectetur elit. Aliquam convallis vitae ante ut volutpat. Mauris volutpat, mi eu convallis luctus, lorem felis finibus arcu, vel lacinia erat velit sed nisi. Quisque viverra ex magna, eu bibendum orci placerat et. Mauris lacinia rhoncus felis 
    .listado-iconos
        .container.mt-t.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, numquam.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destino" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, numquam.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4  Los Mejores Precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, numquam.